<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 
  <main class="container-md bg-success text-white">
    
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>     
     
        <%if (title == "Home"){ %>
          <br>
          <div class=" bg-secondary container text-white rounded-4">
            <ul>Mission Statement
            <li>I am an engineer. I apply analytic thinking to problems and find a pragmatic solution that isn’t a quick fix, but a lasting value.</li>
              <li>I am part of a team. In my software development team, I communicate clearly and proactively. I thrive for consistency and integrity of the creations of my team.</li>
                <li>I am a software craftsman. I am proud of my work and understand it as part of the creation of the community of software craftmanship, which I support.</li>
                  <li>I am and always will be a student. I will keep the beginners mind by playing and experimenting without the fear of failure. There will always be things I have to learn and I will make mistakes, which develop me.</li>
                    <li>I am an optimist and a realist. I always apply this mission statement in good faith and to achieve great results together with my team. In doing so, I am willing to learn and to teach. However, I acknowledge reality and respect mission statements of other people. Because I will not violate my mission statement, I will leave every situation where my core values are not shared.</li>
          </ul>
          </div>
          <div class="container-md bg-burlywood  text-white ">
            <a class="btn btn-outline-dark align-self-center" href="/about">About Me</a>
          </div>
    
  </main>
  <%- include partials/bottom_nav.ejs %>

  <%- include partials/header.ejs %>

