<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 
  <main class="container-md bg-success text-white">
    
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>     
     
    
  </main>
  <%- include partials/bottom_nav.ejs %>

  <%- include partials/header.ejs %>

